body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
}

/*#root {*/
  /*flex-grow: 1;*/
/*}*/

/*#abillimap {*/
  /*width: 1024px;*/
  /*height: 700px;*/
  /*flex-grow: 2;*/
/*}*/
#abillimap {
  height: 700px;

}

